.Forgot{
    width: 90%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    min-width: 800px;
    @media (max-width: 900px){
        min-width: 0px;
    }

    &__title{
        font-family: "ClashDisplay";
        font-weight: 400;
        font-size: 45px;
        text-align: center;
        width: 100%;
        @media (max-width: 900px){
            width: 500px;
        }
        @media (max-width: 500px){
            font-size: 35px;
            width: 350px;
        }
        @media (max-width: 360px){
            width: 300px;
            font-size: 32px;
        }
    }
    &__description{
        margin-top: 5px;
        color: #8B8B8B;
        font-size: 12px;
        font-family: "SFPro";
        font-weight: 300;
        text-align: center;
    }
    &__form{
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (max-width: 900px){
            width: 0;
        }
        input{
            width: 430px;
            font-family: "ClashDisplay";
            font-size: 14px;
            color: white;
            font-weight: 300;
            padding: 15px 0 15px 10px;
            background-color: transparent;
            border: 1px solid #D9D9D950;
            border-radius: 3px;
            @media (max-width: 500px){
                width: 300px;
            }
        }
        button{
            width: 430px;
            font-family: "ClashDisplay";
            padding: 14px 0 14px 0;
            background-color: #7177FF;
            font-size: 15px;
            font-weight: 400px;
            margin-top: 50px;
            @media (max-width: 500px){
                width: 300px;
            }
        }
    }
    &__footer{
        width: 430px;
        display: flex;
        justify-content: start;
        align-items: center;
        @media (max-width: 500px){
            width: 300px;
        }
        a{
            font-family: "Helvetica";
            font-size: 15px;
            color: rgba($color: #ffffff, $alpha: .5);
        }
    }
}